/*** Reset ***/
html, body, div, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Variables ***/
:root {
    --top-margin: 60px;
    --high-color: #4ab701;
    --second-color: #8d9b7c;
    --second-high: #b45215;
    --highlight-color: #4ab701;
    --hightlight-alt-color: #b45215;
}

/*** Router ***/
section {
    display: none;
}

section:target,
section.main {
    display: block;
}

@keyframes section-appear {
    0% {
        opacity: 0;
        transform: translate(-50%, 30px);
    }
    
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

section:target {
    animation: section-appear .5s linear;
}

section.main {
    animation: none;
}

/*** Fuentes ***/
@font-face {
    font-family: "CarnivalFest";
    src: url("../fonts/carnival_font.ttf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
    background: #222 url(../img/fondo_1600_web.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    
    min-height: 100vh;
    min-width: 100vw;
}

html {
    scroll-behavior: smooth;
}

/*** Título principal y logo ***/
.icon-menu {
    display: none;
}

h1, nav {
    position: fixed;
    display: block;
}

:target h1 {
    left: 50%;
    transform: scale(1) rotate(0) translate(-50%,0%);
}

h1 {
    width: 512px;
    height: auto;
    max-width: 100%;
    
    color: transparent;
    /*background: transparent url(../img/logo_carnival_web.png) no-repeat center;*/
    text-shadow: none;
    content: url(../img/logo_carnival_web.png);
    
    left: 0%;
    transform: scale(.5) rotate(-10deg) translate(-40%,-80%);
    
    transition: left 1s ease-in-out, transform 1s ease-in-out;
}

@keyframes nav-totop {
    0% {
        transform: translate(0,-100%);
    }
    
    100% {
        transform: translate(0,0);
    }
}

@keyframes nav-tobottom {
    0% {
        transform: translate(50%,0);
    }
    
    100% {
        transform: translate(50%, -100%);
    }
}

:target nav {
    top: 100%;
    right: 50%;
    transform: translate(50%,-100%);
    
    animation: nav-tobottom .6s ease-out;
}

nav {
    right: 0;
    top: 0;
    transform: translate(0,0);
    
    animation: nav-totop .6s ease-out;
}

/** Menú **/
nav a {
    /*color: transparent;*/
    margin: .4em .2em;
    font-family: CarnivalFest;
    text-decoration: none;
    color: #000;
    text-shadow: 0 0 2px #fff;
    font-size: 2.4em;
}

:target .social {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    
    animation: nav-totop .6s;
}

.social {
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

/** Secciones **/
section {
    position: relative;
    padding: 1.5em;
    
    top: var(--top-margin);
    left: 50%;
    transform: translate(-50%, 0);
    
    width: 100%;
    max-width: 800px;
    /*! min-height: 60vh; */
    
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    
    overflow-y: auto;
    
    background: rgba(0,0,0,.4);
    background: transparent linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));
    margin-top: 60px;
}

section.main {
    position: fixed;
    margin: 0;
    background: transparent linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));
    max-width: none;
    
    top: 0;
    left: unset;
    transform: unset;
    z-index: 50;
}

.main h1,
.main nav {
    z-index: 100;
}

h2 {
    margin: 0 0 1rem;
    text-align: center;
    font-family: CarnivalFest;
    font-weight: normal;
    font-size: 3em;
    color: #000;
    text-shadow: 0 0 2px #fff;
}

#lugar {
    text-align: center;
}

figure {
    max-width: 100%;
}

figure img {
    max-width: 100%;
}

figcaption {
    font-size: .8em;
    color: #ccc;
}

section p {
    width: 80%;
    margin: .4em auto;
    text-align: left;
}

/*** Programa ***/
table {
    width: 100%;
    font-family: CarnivalFest;
    font-size: 20px;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
}

td {
    text-align: center;
    color: #8d9b7c;
}

th {
    font-weight: normal;
}

thead th {
    font-size: 30px;
    color: #fff;
}

tbody th {
    color: #b45215;
    font-size: 18px;
}

tbody a {
    text-decoration: none;
    color: inherit;
}

tbody a:hover {
    color: #fff;
    transform: scale(1.4);
}

tbody tr {
    border: none;
    border-bottom: 1px solid #000;
}

tbody tr:nth-of-type(2n + 1) {
    background: rgba(0,0,0,.6);
}

.contenedor {
    position: relative;
    /*! top: 0; */
    /*! bottom: 0; */
    /*! right: 0; */
    /*! left: 0; */
    
    /*! z-index: 10; */
    
    /*! overflow-y: auto; */
}

/*** Cuenta regresiva ***/
@keyframes cuenta-appear {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.cuenta {
    position: fixed;
    bottom: 150px;
    font-family: CarnivalFest;
    font-size: 4em;
    right: 50%;
    transform: translate(50%, 0);
    color: #000;
    text-shadow: 0 0 4px #fff;
    text-align: center;
    line-height: .8;
    opacity: 0;
    display: none;
}

.cuenta span {
    color: var(--hightlight-alt-color);
    text-shadow: 0 0 5px #000;
}

.cuenta time {
    display: block;
    font-size: 70%;
}

:target .cuenta {
    display: block;
    opacity: 1;
    animation: cuenta-appear .6s ease-out;
}

/*** Sección: Bandas ***/
#bandas article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#bandas img {
    width: 100%;
    max-height: 145px;
    max-width: 200px;
    transition: transform .3s;
}

#bandas img:hover {
    transform: scale(1.3);
}

#bandas a,
#bandas a:focus {
    text-decoration: none;
    border: none;
    justify-self: center;
    align-self: center;
}

/*** Sección: Perfil Bandas ***/
@keyframes logo-in {
    0% {
        transform: scale(2);
    }
    
    100% {
        transform: scale(1);
    }
}

.perfilBanda {
    text-align: center;
    min-height: 650px;
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    
    padding: 12em 0 2em 0;
}

.perfilBanda h3 {
    margin: 70px auto 1em;
    width: 100%;
    max-width: 500px;
    animation: logo-in 1s ease-out;
}

.article-principal {
    margin: 2em 0;
    width: 100%;
}

.article-principal p {
    margin: .6em auto;
    padding: .4em;
    background: rgba(0,0,0,.6);
}

.article-principal a {
    padding: .2em;
    
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    font-weight: bold;
    
    border-bottom: dotted 1px #aaa;
}

.article-principal a:hover {
    color: var(--highlight-color);
}

.article-social {
    display: flex;
    justify-content: space-around;
    
    margin: 1.4em;
    padding: .4em;
    
    color: #fff;
    background: rgba(0,0,0,.5);
    font-weight: bold;
}

.article-social a,
.article-social :visited {
    color: inherit;
    font-size: .8em;
    text-decoration: none;
    border: none;
}

.article-social a:hover {
    color: var(--highlight-color);
}

.article-social i {
    display: block;
    font-size: 2em;
}

/* YouTube responsive
https://avexdesigns.com/responsive-youtube-embed/ */
.article-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.article-video embed,
.article-video object,
.article-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article-social:empty,
.article-video:empty {
    display: none;
}

/**** Movil ****/
@media(max-width: 1025px)
{
    nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        
        background: rgba(0,0,0,.8);
        box-shadow: 0 0 8px #000;
    }
    
    nav::before {
        content: "x";
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 50%;
        border: solid 2px #fff;
        width: 1.4em;
        height: 1.4em;
        
        position: absolute;
        top: 1em;
        right: 1em;
        
        cursor: pointer;
    }
    
    nav::before:hover {
        color: var(--highlight-color);
    }
    
    .icon-menu {
        display: block;
        position: fixed;
        top: .3em;
        right: .3em;
        
        color: #fff;
        text-shadow:0 0 3px #000;
        font-size: 1.8em;
        cursor: pointer;
    }
    
    h1 {
        transform: scale(.5) rotate(-10deg) translate(-40%,-95%);
    }
    
    section {
        /*! top: 100px; */
    }
    
    .perfilBanda h3 {
        margin: 0 auto;
    }
}